{% load i18n %}
<html>
    <h1>Varaa tapahtuma</h1>
    <h2>Tapahtuma: {{tapahtuma.otsikko}}</h2>
    <p>
        {% spaceless %}
        <span>{{tapahtuma.alku.date}}</span>
        <span> klo </span>
        <span>{{tapahtuma.alku.time}}</span>
        {% if tapahtuma.kesto %}
            <span>, kesto </span>
            <span>{{tapahtuma.kesto_tuntia|floatformat}} h</span>
        {% endif %}
        {% endspaceless %}
    </p>
    <p>{{tapahtuma.kuvaus}}</p>

    {% if varattu %}
        Olet varannut paikkasi tapahtumaan!
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="toiminto" value="peru"/>
            <input type="submit" value="Peru varaus"/>
        </form>
    {% elif tapahtuma.onko_tilaa %}
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="Osallistun!"/>
        </form>
    {% else %}
        Harmi, tapahtuma on jo täynnä.
    {% endif %}

    <p>
        <a href="{% url 'tapahtumalistaus' %}">
            {% translate "Go to Event List" %}
        </a>
    </p>
</html>